@import "../abstracts/index.scss";

.header {
  margin-top: 2rem;

  &_title {
    display: flex;
    align-items: center;
    
    img {
      width: 30%;
    }

    img:hover {
      transform: rotate(20deg);
    }
  }

  &_nav {
    display: flex;
    
    a {
      color: $color-black;
      font-weight: bold;
      margin-top: 1rem;
      font-size: 20px;
    }

    a:hover {
      color: $color-black;     
      font-weight: bold;
    }

    .active {
       color: $main-base;     
       font-weight:600;
    }
  }

  &_navigation {
    display: flex;
    justify-content: flex-end;
  }

}