.portfoliopage {


  &_cases {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .card {
      width: 30%;
    }
    .card-img-top {
      height: 100%;
      img {
        width: 30%;
       
      }
      
    }

    .card-body {
      p{
        font-weight: 400;
        color: $color-black;
      }
    }

    a {
      text-decoration: none;
      color: $color-white;
      background-color: $main-base;
      padding: 0.5rem;
    }
  }
}