.footer {
  height: 5vw;

  &_info {
    border-top: 2px solid $color-black;
    display: flex;
  }

  &_navigation {

    p {
      padding-top: 15px;
      font-size: 20px;
    }
  }

  &_information {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;

    a {
      margin-right: 2rem;
      text-decoration: none;
      color: $main-base;
      font-weight: bold;
      font-size: 18px;
    }
    a:hover {
      color: $main-base;
    }
  }

}


@media (max-width: 990px) {
  .footer_info {
    display: block;
    text-align: center;
  }
}