@import "../abstracts/index.scss";

.header {
  margin-top: 2rem;

  &_title {
    display: flex;
    align-items: center;

    img {
      width: 30%;
    }

    img:hover {
      transform: rotate(20deg);
    }
  }

  &_heading {
    display: flex;
  }

  &_nav {
    display: flex;

    a {
      color: $color-black;
      font-weight: bold;
      margin-top: 1rem;
      font-size: 20px;
    }

    a:hover {
      background-color: $main-base;
      font-weight: bold;
      color: $color-white;
    }

    .active {
      color: $main-base;
      font-weight: 600;
    }
  }

  &_navigation {
    display: flex;
    justify-content: flex-end;
  }


}

.header .hamburgernavigation {
  display: none;
}

@media (max-width: 990px) {
  .header .hamburgernavigation .close {
    opacity: 1;

  }

  .header .navigation {
    display: none;
  }

  .header .hamburgernavigation {
    display: flex;
    align-items: center;
  }

  .header_nav {
    display: flex;
    flex-direction: column;
    top: 80px;
    background: $color-white;
    right: 0;
    width: 100%;
    align-items: center;
  }

  .header .hamburgernavigation .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .header .hamburgernavigation .close {
    position: absolute;
    right: 5%;
    margin-top: -6rem;
    cursor: pointer;
  }

  .header_name {
    img {
      width: 20%;
    }
  }


}