// colors

$main-base: #3C6E71;
$main-black: #342E37;
$main-light: #5b989b;


// base colors
$color-white: #fff;
$color-black: #000;
$color-lavender: #BD8B9C;
$color-yellow: #f2e272;
$color-bleauBlue: #BFD7EA;


